
<!-- Modal: Asignar vehículo -->
<app-modal [showModal]="showModalAsignarVehiculo">
    <div class="flex items-center justify-between bg-primary-800 rounded-t p-2">
        <h1 class=" text-white py-1 rounded-t text-lg"> Asignación de vehículo </h1>
        <svg (click)="cerrarModalNuevo('vehiculo')" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="cursor-pointer feather feather-x text-white mr-2"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
    </div>
    <div>
        <div *ngIf="!vehiculoSeleccionado && !flagNuevoVehiculo" class="text-sm">
            <h2 class="font-semibold px-2 pt-2 pb-1"> Buscador de vehículos </h2>
            <div class="p-2 flex items-center">
                <input [(ngModel)]="patente" type="text" (keyup.enter)="buscarVehiculo()" placeholder="Ingresar patente" class="p-2 w-1/2 border border-gray-400 focus:outline-none rounded">
                <button (click)="buscarVehiculo()" class="w-1/2 bg-gray-100 border font-semibold focus:outline-none border-gray-400 ml-2 rounded p-2 hover:text-secondaryColor">
                    Buscar vehículo
                </button>
            </div>
        </div>       
    </div>
    <div *ngIf="flagNuevoVehiculo" class="px-4 py-2 text-sm">
        <div class="px-4 text-sm">
            <h1 class="font-semibold text-xl"> Creando nuevo vehículo </h1>
            <p class="text-xs text-gray-500"> *El vehículo no se encuentra en sistema, a continuación podrá crearlo </p>
            <div class="md:flex md:items-center mt-4">
                <div class="md:w-1/2">
                    <p class="font-semibold"> <span class="text-red-500"> * </span> Patente </p>
                    <input [(ngModel)]="nuevoVehiculoData.patente" class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800" placeholder="Ej. BX157" type="text">
                </div>
                <div class="md:w-1/2 md:ml-4 mt-4 md:mt-0">
                    <p class="font-semibold"> <span class="text-red-500"> * </span> Color </p>
                    <select [(ngModel)]="nuevoVehiculoData.color" class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor outline-none w-full text-gray-800">
                        <option value=""> Seleccionar un color </option>
                        <option [value]="color.id" *ngFor="let color of colores"> {{ color.descripcion }} </option>
                    </select>
                </div>
            </div>
            <div class="md:flex md:items-center mt-4">
                <div class="md:w-1/2">
                    <p class="font-semibold"> <span class="text-red-500"> * </span> Marca </p>
                    <select (change)="buscarModelos()" [(ngModel)]="nuevoVehiculoData.marca" class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor outline-none w-full text-gray-800">
                        <option value=""> Seleccionar una marca </option>
                        <option [value]="marca.id" *ngFor="let marca of marcas"> {{ marca.descripcion }} </option>
                    </select>
                </div>
                <div class="md:w-1/2 md:ml-4 mt-4 md:mt-0">
                    <p class="font-semibold"> <span class="text-red-500"> * </span> Modelo </p>
                    <select [disabled]="nuevoVehiculoData.marca.trim() === ''" [(ngModel)]="nuevoVehiculoData.modelo" class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor outline-none w-full text-gray-800">
                        <option value=""> Seleccionar un modelo </option>
                        <option [value]="modelo.id" *ngFor="let modelo of modelos"> {{ modelo.descripcion }} </option>
                    </select>
                </div>
            </div>
            <div class="md:flex md:items-center mt-4">
                <div class="md:w-1/2">
                    <p class="font-semibold"> Motor </p>
                    <input [(ngModel)]="nuevoVehiculoData.motor" class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800" placeholder="Nro de motor" type="text">
                </div>
                <div class="md:w-1/2 md:ml-4 mt-4 md:mt-0">
                    <p class="font-semibold"> Chasis </p>
                    <input [(ngModel)]="nuevoVehiculoData.chasis" class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800" placeholder="Nro de chasis" type="text">
                </div>
            </div>
            <div *ngIf="vehiculoSeleccionado && estadoFormulario === 'editar'" class="xl:flex items-center mt-4">
              <div class="xl:w-1/2">
                  <p class="font-semibold text-sm"> Fecha de alta </p>
                  <div class="border text-sm mt-2 border-gray-300 rounded p-2 bg-gray-100">
                      {{ vehiculoSeleccionado.createdAt | fecha }}
                  </div>
              </div>
              <div class="xl:ml-4 xl:w-1/2 mt-4 xl:mt-0">
                  <p class="font-semibold text-sm"> Usuario creador </p>
                  <div class="border text-sm capitalize mt-2 border-gray-300 rounded p-2 bg-gray-100">
                      {{ vehiculoSeleccionado.creatorUser.apellido.toLowerCase() }} {{ vehiculoSeleccionado.creatorUser.nombre.toLowerCase() }}
                  </div>
              </div>
          </div> 
          <div *ngIf="vehiculoSeleccionado && estadoFormulario === 'editar'" class="xl:flex items-center mt-4">
              <div class="xl:w-1/2">
                  <p class="font-semibold text-sm"> Ultima actualización </p>
                  <div class="border text-sm mt-2 border-gray-300 rounded p-2 bg-gray-100">
                      {{ vehiculoSeleccionado.updatedAt | fecha }}
                  </div>
              </div>
              <div class="xl:ml-4 xl:w-1/2 mt-4 xl:mt-0">
                  <p class="font-semibold text-sm"> Usuario ultima actualización </p>
                  <div class="border text-sm capitalize mt-2 border-gray-300 rounded p-2 bg-gray-100">
                      {{ vehiculoSeleccionado.updatorUser.apellido.toLowerCase() }} {{ vehiculoSeleccionado.updatorUser.nombre.toLowerCase() }}
                  </div>
              </div>
          </div>
            <div class="flex items-center pb-2">
                <button (click)="nuevoVehiculo()" class="bg-gray-100 focus:outline-none hover:text-secondaryColor shadow text-gray-800 w-full border border-gray-300 font-semibold p-2 rounded mt-4"> Crear vehículo </button>
                <button (click)="flagNuevoVehiculo = false" class="bg-gray-100 focus:outline-none ml-2 hover:text-secondaryColor shadow text-gray-800 w-full border border-gray-300 font-semibold p-2 rounded mt-4"> Regresar </button>
            </div>   
        </div>
    </div>
    <div *ngIf="vehiculoSeleccionado" class="text-sm p-2">
        <div class="border p-2 border-gray-400">
            <p> <span class="font-semibold"> Patente: </span>  {{ vehiculoSeleccionado?.patente }} </p>
            <p class="mt-2"> <span class="font-semibold"> Marca: </span> {{ vehiculoSeleccionado?.marca.descripcion }} </p>
            <p class="mt-2"> <span class="font-semibold"> Modelo: </span> {{ vehiculoSeleccionado?.modelo.descripcion }} </p>
        </div>
        <div class="flex items-center mt-4">
            <button (click)="asignarVehiculo()" class="border focus:outline-none border-green-700 text-white bg-green-700 p-2 rounded w-1/2"> Aceptar </button>
            <button (click)="eliminarVehiculo()" class="border focus:outline-none ml-2 border-red-700 text-white bg-red-700 p-2 rounded w-1/2"> Cancelar </button>
        </div>
    </div>    
</app-modal>

<!-- Modal: Asignar permisionario -->
<app-modal [showModal]="showModalAsignarPermisionario">
    <div class="flex items-center justify-between bg-primary-800 rounded-t p-2">
        <h1 class=" text-white py-1 rounded-t text-lg"> Asignación de permisionario </h1>
        <svg (click)="cerrarModalNuevo('permisionario')" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="cursor-pointer feather feather-x text-white mr-2"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
    </div>  
    <div *ngIf="!personaSeleccionada && !flagNuevaPersona" class="text-sm">
        <h2 class="font-semibold px-2 pt-2 pb-1"> Buscador de personas </h2>
        <div class="p-2 flex items-center">
            <input [(ngModel)]="dni" type="text" (keyup.enter)="buscarPersona()" placeholder="Ingresar DNI" class="p-2 w-1/2 border border-gray-400 focus:outline-none rounded">
            <button (click)="buscarPersona()" class="w-1/2 bg-gray-100 border font-semibold focus:outline-none border-gray-400 ml-2 rounded p-2 hover:text-secondaryColor">
                Buscar persona
            </button>
        </div>
    </div>
    <div *ngIf="personaSeleccionada" class="text-sm p-2">
        <div class="border p-2 border-gray-400">
            <p> <span class="font-semibold"> Apellido y Nombre: </span>  {{ personaSeleccionada?.apellido_nombre }} </p>
            <p class="mt-2"> <span class="font-semibold"> DNI: </span> {{ personaSeleccionada?.dni }} </p>
        </div>
        <div class="flex items-center mt-4">
            <button (click)="asignarPermisionario()" class="border focus:outline-none border-green-700 text-white bg-green-700 p-2 rounded w-1/2"> Aceptar </button>
            <button (click)="eliminarPersona()" class="border focus:outline-none ml-2 border-red-700 text-white bg-red-700 p-2 rounded w-1/2"> Cancelar </button>
        </div>
    </div>
    <div *ngIf="flagNuevaPersona" class="px-4 py-2 text-sm">
        <h1 class="font-semibold text-xl"> Creando nueva persona </h1>
        <p class="text-xs text-gray-500"> *La persona no se encuentra en sistema, a continuación podrá crearla </p>
        <div class="w-full md:flex md:items-center mt-3">
            <div class="md:w-1/2">
                <p class="font-semibold"> <span class="text-red-500"> * </span> Apellido y Nombre </p>
                <input [(ngModel)]="nuevaPersonaData.apellido_nombre"  class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800" placeholder="Ej. Moreno Lucas Omar" type="text">
            </div>
            <div class="md:w-1/2 md:ml-4 mt-4 md:mt-0">
                <p class="font-semibold"> <span class="text-red-500"> * </span> DNI </p>
                <input [(ngModel)]="nuevaPersonaData.dni"  class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800" placeholder="Ej. 34060398" type="text">
            </div>
        </div>
        <div class="mt-4 w-full md:flex md:items-center">
            <div class="md:w-1/2">
                <p class="font-semibold"> <span class="text-red-500"> * </span> Fecha de nacimiento </p>
                <input [(ngModel)]="nuevaPersonaData.fecha_nacimiento" class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800" type="date">
            </div>
            <div class="md:w-1/2 md:ml-4 mt-4 md:mt-0">
                <p class="font-semibold"> Teléfono </p>
                <input [(ngModel)]="nuevaPersonaData.telefono" class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800" placeholder="Ej. 2664869642" type="text">
            </div>
        </div>
        <div class="mt-4">
            <p class="font-semibold"> Dirección </p>
            <input [(ngModel)]="nuevaPersonaData.direccion" placeholder="Portugal 1030 casa 4" class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800" type="text">
        </div> 
        <div class="flex items-center"f>
            <button (click)="nuevaPersona()" class="bg-gray-100 focus:outline-none hover:text-secondaryColor shadow text-gray-800 w-full border border-gray-300 font-semibold p-2 rounded mt-4"> Crear persona </button>
            <button (click)="flagNuevaPersona = false" class="bg-gray-100 focus:outline-none ml-2 hover:text-secondaryColor shadow text-gray-800 w-full border border-gray-300 font-semibold p-2 rounded mt-4"> Regresar </button>
        </div>
    </div>
</app-modal>

<!-- Modal: Nueva licencia -->
<app-modal-medium [showModal]="showModalDetalles">
    <div class="flex items-center justify-between bg-primary-800 rounded-t p-2">
        <h1 class=" text-white py-1 rounded-t text-lg"> Detalles de licencia </h1>
        <svg (click)="showModalDetalles = false" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="cursor-pointer feather feather-x text-white mr-2"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
    </div>  
    <div class="p-2 text-sm">
        <div class="flex items-center py-2 justify-between">
            <p> <span class="font-semibold"> Número de licencia: </span>  {{ licenciaSeleccionada?.nro_licencia }} </p>
            <p> <span class="font-semibold"> Fecha de alta: </span>  {{ licenciaSeleccionada?.createdAt | fecha }} </p>
        </div>
        <div class="mt-2">

            <!-- Vehículo -->

            <div class="bg-gray-100 p-1 flex items-center mt-4 justify-between rounded border border-gray-300">
                <h2 class="font-semibold py-2 pl-1"> Vehículo </h2>
                <button (click)="abrirModalNuevo('vehiculo')" title="Asignar vehículo" class="bg-white p-2 focus:outline-none hover:text-secondaryColor rounded border border-gray-300">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
                    </svg>                    
                </button>
            </div>
            <p class="mt-2" *ngIf="!licenciaVehiculo"> No hay vehículo asociado a esta licencia </p>
            <div *ngIf="licenciaVehiculo">
                <div class="border border-l-8 p-2 flex items-center justify-between border-gray-300 mt-2 w-full">
                    <div class="border p-2 border-gray-400">
                        <p> <span class="font-semibold"> Patente: </span>  {{ licenciaVehiculo?.patente }} </p>
                        <p class="mt-2"> <span class="font-semibold"> Marca: </span> {{ licenciaVehiculo?.marca.descripcion }} </p>
                        <p class="mt-2"> <span class="font-semibold"> Modelo: </span> {{ licenciaVehiculo?.modelo.descripcion }} </p>
                        <p class="text-xs text-gray-500"> Desde el {{ licenciaVehiculo?.fecha_alta | fecha }} </p>      
                    </div>
                    <button (click)="bajaPersona('permisionario')" title="Baja de permisionario" class="border focus:outline-none border-gray-300 p-2 hover:text-red-700 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            </div>


            <!-- Permisionario -->

            <div class="bg-gray-100 p-1 mt-4 flex items-center justify-between rounded border border-gray-300">
                <h2 class="font-semibold py-2 pl-1"> Permisionario </h2>
                <button *ngIf="!licenciaPermisionario" (click)="abrirModalNuevo('permisionario')" title="Asignar permisionario" class="bg-white p-2 focus:outline-none hover:text-secondaryColor rounded border border-gray-300">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
                      </svg>                    
                </button>
            </div>
            <p class="mt-2" *ngIf="!licenciaPermisionario"> No hay permisionario asociado a esta licencia </p>
            <div *ngIf="licenciaPermisionario">
                <div class="border border-l-8 p-2 flex items-center justify-between border-gray-300 mt-2 w-full">
                    <div>
                        <p class="font-semibold"> {{ licenciaPermisionario?.persona.apellido_nombre }} </p>
                        <p> DNI {{ licenciaPermisionario?.persona.dni }} </p>  
                        <p class="text-xs text-gray-500"> Desde el {{ licenciaPermisionario?.fecha_alta | fecha }} </p>      
                    </div>
                    <button (click)="bajaPersona('permisionario')" title="Baja de permisionario" class="border focus:outline-none border-gray-300 p-2 hover:text-red-700 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            </div>

            <!-- Choferes -->

            <div class="bg-gray-100 p-1 flex items-center mt-4 justify-between rounded border border-gray-300">
                <h2 class="font-semibold py-2 pl-1"> Choferes </h2>
                <button (click)="abrirModalNuevo('chofer')" title="Asignar chofer" class="bg-white p-2 focus:outline-none hover:text-secondaryColor rounded border border-gray-300">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
                    </svg>                    
                </button>
            </div>
            <p class="mt-2"> No hay choferes asociados a esta licencia </p>

            <!-- Relojes -->

            <div class="bg-gray-100 p-1 flex items-center mt-4 justify-between rounded border border-gray-300">
                <h2 class="font-semibold py-2 pl-1"> Reloj </h2>
                <button (click)="abrirModalNuevo('reloj')" title="Asignar reloj" class="bg-white p-2 focus:outline-none hover:text-secondaryColor rounded border border-gray-300">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
                        </svg>                    
                </button>
            </div>
            <p class="mt-2"> No hay reloj asociado a esta licencia </p>

        </div>
    </div> 
</app-modal-medium>


<!-- Modal: Crear / Editar licencia -->
<app-modal [showModal]="showModalLicencia">
  <div (keyup.enter)="estadoFormulario === 'crear' ? nuevaLicencia() : actualizarLicencia()">
      <div class="flex items-center justify-between bg-primary-800 rounded-t p-2">
          <h1 class=" text-white px-2 py-1 rounded-t text-lg"> {{ estadoFormulario == 'crear' ? 'Creando licencia' : 'Editando licencia' }} </h1>
          <svg (click)="showModalLicencia = false" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="cursor-pointer feather feather-x text-white mr-2"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
      </div>
      <div class="p-4 text-sm">
          <p class="font-semibold"> <span class="text-red-500"> * </span> Número de licencia </p>
          <input [(ngModel)]="nro_licencia" class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800" placeholder="Ej. 125" type="text">
          <div *ngIf="licenciaSeleccionada && estadoFormulario === 'editar'" class="xl:flex items-center mt-4">
            <div class="xl:w-1/2">
                <p class="font-semibold text-sm"> Fecha de alta </p>
                <div class="border text-sm mt-2 border-gray-300 rounded p-2 bg-gray-100">
                    {{ licenciaSeleccionada.createdAt | fecha }}
                </div>
            </div>
            <div class="xl:ml-4 xl:w-1/2 mt-4 xl:mt-0">
                <p class="font-semibold text-sm"> Usuario creador </p>
                <div class="border text-sm capitalize mt-2 border-gray-300 rounded p-2 bg-gray-100">
                    {{ licenciaSeleccionada.creatorUser.apellido.toLowerCase() }} {{ licenciaSeleccionada.creatorUser.nombre.toLowerCase() }}
                </div>
            </div>
        </div> 
        <div *ngIf="licenciaSeleccionada && estadoFormulario === 'editar'" class="xl:flex items-center mt-4">
            <div class="xl:w-1/2">
                <p class="font-semibold text-sm"> Ultima actualización </p>
                <div class="border text-sm mt-2 border-gray-300 rounded p-2 bg-gray-100">
                    {{ licenciaSeleccionada.updatedAt | fecha }}
                </div>
            </div>
            <div class="xl:ml-4 xl:w-1/2 mt-4 xl:mt-0">
                <p class="font-semibold text-sm"> Usuario ultima actualización </p>
                <div class="border text-sm capitalize mt-2 border-gray-300 rounded p-2 bg-gray-100">
                    {{ licenciaSeleccionada.updatorUser.apellido.toLowerCase() }} {{ licenciaSeleccionada.updatorUser.nombre.toLowerCase() }}
                </div>
            </div>
        </div>   
          <button *ngIf="estadoFormulario == 'crear'" (click)="nuevaLicencia()" class="bg-gray-100 focus:outline-none hover:text-secondaryColor shadow text-gray-800 w-full border border-gray-300 font-semibold p-2 rounded mt-4"> Crear licencia </button>
          <button *ngIf="estadoFormulario == 'editar'" (click)="actualizarLicencia()" class="bg-gray-100 focus:outline-none hover:text-secondaryColor shadow text-gray-800 w-full border border-gray-300 font-semibold p-2 rounded mt-4"> Actualizar licencia </button>
      </div>
  </div>
</app-modal>

<!-- Listado de licencias -->
<div class="md:max-w-5xl mx-auto">
    <app-tarjeta-lista>
      <div class="container mx-auto">
          <div>
              <div class="flex items-center justify-between bg-primary-800 px-4 py-3 rounded-t">
                  <div class="ml-2 text-white">
                      <h2 class="text-2xl leading-tight">
                          Listado de licencias
                      </h2>
                      <p> Total de licencias: {{ licencias.length }} </p>
                  </div>
                  <div>
                    <button title="Nueva licencia" (click)="abrirModal('crear')" class="p-2 border mr-3 focus:outline-none hover:text-secondaryColor border-gray-300 bg-white rounded shadow">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                        </svg>
                    </button>
                  </div>
              </div>
              <div class="md:flex md:items-center md:justify-between px-4 py-2">
                  <div class="my-2 flex sm:flex-row flex-col">
                      <div class="flex flex-row mb-1 sm:mb-0">
                          <div class="relative">
                              <select #txtActivo (change)="filtrarEstado(txtActivo.value)" class="h-full text-sm rounded-r border-t border-l rounded-l sm:rounded-r-none sm:border-r-0 border-r border-b block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:border-l focus:border-r focus:bg-white focus:border-gray-500">
                                  <option value='Habilitada'> Habilitadas </option>
                                  <option value='Inhabilitada'> Inhabilitadas </option>
                                  <option value=''> Todos </option>
                              </select>
                              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                  <svg class="fill-current h-4 w-4" viewBox="0 0 20 20">
                                      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                  </svg>
                              </div>
                          </div>
                      </div>
                      <div class="block relative">
                          <span class="h-full absolute inset-y-0 left-0 flex items-center pl-2">
                              <svg viewBox="0 0 24 24" class="h-4 w-4 fill-current text-gray-500 cursor-pointer hover:text-secondary-500">
                                  <path
                                      d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z">
                                  </path>
                              </svg>
                          </span>
                          <input #txtParametro placeholder="Buscar" (keyup)="filtrarParametro(txtParametro.value)" class="appearance-none rounded-r rounded-l sm:rounded-l-none border border-gray-400 border-b block pl-8 pr-6 py-2 w-full bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none"
                          />
                      </div>
                      <select (change)="paginaActual = 1" class="bg-white text-sm focus:outline-none w-max px-2 py-2 md:py-0 md:ml-2 mt-2 md:mt-0 border text-gray-600 border-gray-400 rounded" [(ngModel)]="cantidadItems">
                          <option value="10"> 10 elementos </option>
                          <option value="20"> 20 elementos </option>
                          <option value="50"> 50 elementos </option>
                          <option value="100"> 100 elementos </option>
                      </select>
                  </div>
              </div>
              <div class="px-4 py-2 overflow-x-auto">
                  <div class="inline-block max-h-screen overflow-y-auto min-w-full overflow-hidden pb-5">
                      <table class="min-w-full leading-normal">
                          <thead>
                              <tr class="border">
                                  <th class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                      <div (click)="ordenarPorColumna('nro_licencia')" class="cursor-pointer flex items-center focus:outline-none">
                                          <span> Número de licencia </span>
                                          <span class="ml-2 text-gray-600">    
                                              <svg *ngIf="ordenar.columna == 'nro_licencia' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                              <svg *ngIf="ordenar.columna == 'nro_licencia' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                              <svg *ngIf="ordenar.columna != 'nro_licencia'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                          </span>
                                      </div>
                                  </th>
                                  <th class="px-5 border-b-2 border-gray-200 bg-gray-100 text-sm font-semibold text-gray-900 tracking-wider">
                                      <div (click)="ordenarPorColumna('createdAt')" class="cursor-pointer w-max flex items-center justify-center focus:outline-none">
                                          <span>
                                              Fecha de creación                                                
                                          </span>
                                          <span class="ml-2">
                                              <svg *ngIf="ordenar.columna == 'createdAt' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                              <svg *ngIf="ordenar.columna == 'createdAt' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                              <svg *ngIf="ordenar.columna != 'createdAt'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                          </span>
                                      </div>
                                  </th>
                                  <th class="px-5 border-b-2 border-gray-200 bg-gray-100 text-center text-sm font-semibold text-gray-900 tracking-wider">
                                      <div (click)="ordenarPorColumna('estado')" class="cursor-pointer flex items-center focus:outline-none">
                                          <span>
                                              Estado                                               
                                          </span>
                                          <span class="ml-2">
                                              <svg *ngIf="ordenar.columna == 'estado' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                              <svg *ngIf="ordenar.columna == 'estado' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                              <svg *ngIf="ordenar.columna != 'estado'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                          </span>
                                      </div>
                                  </th>
                                  <th class="px-5 border-b-2 border-gray-200 bg-gray-100 text-center text-sm font-semibold text-gray-900 tracking-wider">
                                      Acción
                                  </th>
                              </tr>
                          </thead>
                          <tbody *ngIf="licencias">
                              <tr class="animate__animated animate__fadeIn" *ngFor="let licencia of licencias | filtroLicencias:filtro.parametro:filtro.estado | paginate: {itemsPerPage: cantidadItems, currentPage: paginaActual}">
                                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                      <p class="text-gray-900 w-max whitespace-no-wrap">
                                          {{ licencia.nro_licencia }}
                                      </p>
                                  </td>
                                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                      <p class="text-gray-900 whitespace-no-wrap">
                                          {{ licencia.createdAt | fecha }}
                                      </p>
                                  </td>
                                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                    <p [ngClass]="{'text-green-700 bg-green-50 border-green-300':licencia.estado === 'Habilitada', 'text-red-700 bg-red-50 border-red-300':licencia.estado === 'Inhabilitada'}" class="text-gray-900 whitespace-no-wrap p-1 w-max font-semibold rounded border">
                                        {{ licencia.estado }}
                                    </p>
                                  </td>
                                  <td class="px-5 py-2 border-b border-gray-200 text-xs text-center">
                                        <span class="flex items-center justify-center text-gray-900 whitespace-no-wrap">
                                            <app-boton-tabla (click)="abrirModal('editar', licencia)" title="Editar licencia">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                                </svg>
                                            </app-boton-tabla>
                                            <app-boton-tabla class="ml-2" [routerLink]="['/dashboard/licencias/detalles',licencia.id]" title="Detalles de licencia">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2" />
                                                  </svg>
                                            </app-boton-tabla>
                                        </span>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <div *ngIf="licencias.length > cantidadItems" class="px-5 text-sm py-5 mt-4 bg-white border-t flex shadow flex-col xs:flex-row items-center xs:justify-between">
              <pagination-controls nextLabel="Siguiente" previousLabel="Anterior" (pageChange)="paginaActual = $event"></pagination-controls>
          </div>
      </div>
    </app-tarjeta-lista>
</div>

