
<!-- Modal: Seguro de vehiculo -->
<app-modal [showModal]="showModalSeguro">
    <div (keyup.enter)="nuevoVehiculo()">
        <div class="flex items-center justify-between bg-primary-800 rounded-t p-2">
            <h1 class=" text-white px-2 py-1 rounded-t text-lg"> Seguro de vehículo </h1>
            <svg (click)="regresarTitulares()" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="cursor-pointer feather feather-x text-white mr-2"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </div>
        <div class="p-4 text-sm">
            
            <div class="flex items-center">
                <div class="w-1/2">
                    <p class="font-semibold"> <span class="text-red-500"> * </span> Empresa </p>
                    <select [(ngModel)]="dataSeguro.empresa" class="select-general mt-1">
                        <option value=""> Seleccionar empresa </option>
                        <option *ngFor="let empresa of empresas" [value]="empresa.id"> {{ empresa.descripcion }} </option>
                    </select>
                </div>
                <div class="w-1/2 ml-4">
                    <p class="font-semibold"> <span class="text-red-500"> * </span> Nro de poliza </p>
                    <input [(ngModel)]="dataSeguro.nro_poliza" class="input-text-general mt-1" placeholder="Colocar número de poliza" type="text">
                </div>
            </div> 
  
            <div class="flex items-center mt-4">
                <div class="w-1/2">
                    <p class="font-semibold"> <span class="text-red-500"> * </span> Fecha desde </p>
                    <input [(ngModel)]="dataSeguro.fecha_desde" class="input-text-general mt-1" placeholder="Ej. Fiat" type="date">
                </div>
                <div class="w-1/2 ml-4">
                    <p class="font-semibold"> <span class="text-red-500"> * </span> Fecha hasta </p>
                    <input [(ngModel)]="dataSeguro.fecha_hasta" class="input-text-general mt-1" placeholder="Ej. Fiat" type="date">
                    
                </div>
            </div>  
          <div class="mt-3">
              <button (click)="nuevoVehiculo()" class="btn-confirm"> Crear vehiculo </button>
          </div>
        </div>
    </div>
  </app-modal>

<!-- Modal: Alta de persona -->
<app-modal [showModal]="showModalAltaPersona">
    <div (keyup.enter)="nuevaPersona()">
        <div class="flex items-center justify-between bg-primary-800 rounded-t p-2">
            <h1 class=" text-white px-2 py-1 rounded-t text-lg"> Nueva persona </h1>
            <svg (click)="regresarTitulares()" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="cursor-pointer feather feather-x text-white mr-2">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </div>
        <div class="p-4 text-sm">
            <p class="text-gray-500 text-xs pb-4"> * La persona no se encontro, a continuación coloque sus datos. </p>
            <div class="w-full md:flex md:items-center">
                <div class="md:w-1/2">
                    <p class="font-semibold"> <span class="text-red-500"> * </span> Apellido </p>
                    <input [(ngModel)]="apellido"
                        class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800"
                        placeholder="Ej. Moreno" type="text">
                </div>
                <div class="md:w-1/2 md:ml-4 mt-4 md:mt-0">
                    <p class="font-semibold"> <span class="text-red-500"> * </span> Nombre </p>
                    <input [(ngModel)]="nombre"
                        class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800"
                        placeholder="Ej. Lucas Omar" type="text">
                </div>
            </div>
            <div class="mt-4 w-full md:flex md:items-center">
                <div class="md:w-1/2">
                    <p class="font-semibold"> <span class="text-red-500"> * </span> DNI </p>
                    <input [(ngModel)]="dni" placeholder="34060398"
                        class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800"
                        type="text">
                </div>
                <div class="md:w-1/2 md:ml-4 mt-4 md:mt-0">
                    <p class="font-semibold"> <span class="text-red-500"> * </span> Teléfono </p>
                    <input [(ngModel)]="telefono"
                        class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800"
                        placeholder="Ej. 2664869642" type="text">
                </div>
            </div>
            <div class="mt-4 w-full md:flex md:items-center">
                <div class="md:w-1/2">
                    <p class="font-semibold"> <span class="text-red-500"> * </span> Domicilio </p>
                    <input [(ngModel)]="domicilio" placeholder="Portugal 1030"
                        class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800"
                        type="text">
                </div>
                <div class="md:w-1/2 md:ml-4 mt-4 md:mt-0">
                    <p class="font-semibold"> <span class="text-red-500"> * </span> Email </p>
                    <input [(ngModel)]="mail"
                        class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800"
                        placeholder="Ej. ing.lucasmoreno@gmail.com" type="text">
                </div>
            </div>
            <button (click)="nuevaPersona()"
                class="focus:outline-none bg-secondaryColor text-white shadow w-full border border-gray-300 font-semibold p-2 rounded mt-4">
                Crear persona 
            </button>
        </div>
    </div>
</app-modal>

<!-- Modal -> Titulares  -->
<app-modal [showModal]="showModalTitulares">
    <div class="flex items-center justify-between bg-primary-800 rounded-t p-2">
        <h1 class=" text-white px-2 py-1 rounded-t text-lg"> Titulares del vehículo </h1>
        <svg (click)="regresarVehiculo()" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="cursor-pointer feather feather-x text-white mr-2"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
    </div>

    <div class="p-2">

        <!-- Sin persona seleccionada -->
        <div *ngIf="!personaSeleccionada">
            <p class="font-semibold text-center"> Buscar titular </p>
        </div>        
        
        <div *ngIf="!personaSeleccionada" class="flex w-full items-center justify-center text-center mt-2 text-sm">
            <input (keyup.enter)="buscarPersona()" [(ngModel)]="dniBusqueda" type="text" class="border border-gray-400 focus:outline-none rounded p-2" placeholder="DNI">
            <button (click)="buscarPersona()" title="Buscar persona" class="ml-2 rounded focus:outline-none p-2 border border-gray-400 hover:text-secondaryColor">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                  </svg>
            </button>
        </div>
        
        <!-- Persona seleccionada -->

        <div *ngIf="personaSeleccionada" class="border border-gray-400 mt-2">
            <div class="flex items-center text-sm">
                <div class="w-full flex items-center justify-between border-b pb-2 pt-1 border-gray-400">
                    <div class="flex items-center">
                        <img class="w-20 ml-1" src="assets/img/titular.svg" alt="titular.svg">
                        <div class="ml-2">
                            <p class="font-semibold"> {{ personaSeleccionada.apellido }} {{ personaSeleccionada.nombre }} </p>
                            <p class="text-gray-500 text-xs"> DNI {{ personaSeleccionada.dni }} </p>
                        </div>
                    </div>
                    <button (click)="eliminarPersona()" title="Eliminar persona" class="mr-4 focus:outline-none bg-red-700 text-white rounded p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                        </svg>                      
                    </button>
                </div>
            </div>
            <div class="p-2 text-sm flex items-center">
                <div class="w-1/3">
                    <p class="text-sm font-semibold"> <span class="text-red-700"> * </span> Nro de titulo </p>
                    <input (keyup.enter)="agregarTitular()" [(ngModel)]="numero_titulo" class="p-2 mt-1 focus:outline-none border border-gray-400" placeholder="Ej. 2453" type="text">
                </div>
                <div class="w-1/3">
                    <p class="text-sm font-semibold"> <span class="text-red-700"> * </span> Porcentaje de titulo </p>
                    <input (keyup.enter)="agregarTitular()" [(ngModel)]="porcentaje" class="p-2 mt-1 focus:outline-none border border-gray-400 ml-2" placeholder="Ej. 80" type="number">
                </div>
                <button (click)="agregarTitular()" class="bg-green-700 w-1/3 ml-4 mt-5 focus:outline-none text-white p-2"> Agregar </button>
            </div>
        </div>
        
        <div *ngIf="titulares.length > 0" class="text-sm">
            <h1 class="p-2 font-semibold bg-gray-100 border border-gray-400 mt-4">
                Listado de titulares
            </h1>
            <div *ngFor="let titular of titulares" class="flex border-b border-gray-400 items-center py-3 px-2 justify-between">
                <div class="flex items-center">
                    <button (click)="eliminarTitular(titular.persona)" title="Eliminar titular" class="hover:text-red-700 focus:outline-none">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                          </svg>                          
                    </button>
                    <img class="w-14 ml-2" src="assets/img/titular.svg" alt="titular.svg">
                    <div class="ml-2">
                        <p class="font-semibold"> {{ titular.apellido }} {{ titular.nombre }} </p>
                        <p class="text-gray-600 text-xs"> DNI {{ titular.dni }} </p>
                        <p class="font-semibold text-xs"> (Nro. titulo {{ titular.numero_titulo }}) </p>
                    </div>
                </div>
                <P class="font-semibold"> {{ titular.porcentaje | moneda }}% </P>
            </div>
            <div [ngClass]="{'bg-red-100':totalPorcentaje !== 100, 'bg-green-100':totalPorcentaje === 100}" class="flex bg-gray-100 items-center justify-between p-2">
                <p class="font-semibold"> PORCENTAJE TOTAL </p>
                <p [ngClass]="{'text-red-800':totalPorcentaje !== 100, 'text-green-800':totalPorcentaje === 100}" class="font-semibold"> {{ totalPorcentaje | moneda }}% </p>
            </div>
            <div class="mt-2 flex items-center">
                <svg *ngIf="totalPorcentaje !== 100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-red-700">
                    <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd" />
                </svg>         
                <p *ngIf="totalPorcentaje !== 100" class="text-red-700 ml-1 text-sm"> El porcentaje total debe ser 100% </p>
            </div>
        </div>

        <div class="flex items-center mt-2 text-sm">
            <button (click)="regresarVehiculo()" class="bg-red-700 text-white focus:outline-none shadow w-full font-semibold p-2 rounded mt-4"> Regresar </button>
            <button (click)="abrirSeguro()" class="bg-secondaryColor ml-2 text-white focus:outline-none shadow w-full font-semibold p-2 rounded mt-4"> Continuar </button>
        </div>
    
    </div>

</app-modal>

<!-- Modal: Crear / Editar vehiculo -->
<app-modal [showModal]="showModalVehiculo">
  <div (keyup.enter)="estadoFormulario === 'crear' ? abrirTitulares() : actualizarVehiculo()">
      <div class="flex items-center justify-between bg-primary-800 rounded-t p-2">
          <h1 class=" text-white px-2 py-1 rounded-t text-lg"> {{ estadoFormulario == 'crear' ? 'Datos de vehículo' : 'Editando vehículo' }} </h1>
          <svg (click)="showModalVehiculo = false" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="cursor-pointer feather feather-x text-white mr-2"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
      </div>
      <div class="p-4 text-sm">
          <div class="md:flex md:items-center">
              <div class="md:w-1/2">
                  <p class="font-semibold"> <span class="text-red-500"> * </span> Patente </p>
                  <input [(ngModel)]="patente" class="input-text-general mt-1" placeholder="Ej. BX157" type="text">
              </div>
              <div class="md:w-1/2 md:ml-4 mt-4 md:mt-0">
                  <p class="font-semibold"> <span class="text-red-500"> * </span> Color </p>
                  <select [(ngModel)]="color" class="select-general mt-1">
                      <option value=""> Seleccionar un color </option>
                      <option [value]="color.id" *ngFor="let color of colores"> {{ color.descripcion }} </option>
                  </select>
              </div>
          </div>
          <div class="md:flex md:items-center mt-4">
              <div class="md:w-1/2">
                  <p class="font-semibold"> <span class="text-red-500"> * </span> Marca </p>
                  <select (change)="buscarModelos()" [(ngModel)]="marca" class="select-general mt-1">
                      <option value=""> Seleccionar una marca </option>
                      <option [value]="marca.id" *ngFor="let marca of marcas"> {{ marca.descripcion }} </option>
                  </select>
              </div>
              <div class="md:w-1/2 md:ml-4 mt-4 md:mt-0">
                  <p class="font-semibold"> <span class="text-red-500"> * </span> Modelo </p>
                  <select [disabled]="this.marca.trim() === ''" [(ngModel)]="modelo" class="select-general mt-1">
                      <option value=""> Seleccionar un modelo </option>
                      <option [value]="modelo.id" *ngFor="let modelo of modelos"> {{ modelo.descripcion }} </option>
                  </select>
              </div>
          </div>
          <div class="md:flex md:items-center mt-4">
              <div class="md:w-1/2">
                  <p class="font-semibold"> <span class="text-red-500"> * </span> Motor </p>
                  <input [(ngModel)]="motor" class="input-text-general mt-1" placeholder="Nro de motor" type="text">
              </div>
              <div class="md:w-1/2 md:ml-4 mt-4 md:mt-0">
                  <p class="font-semibold"> <span class="text-red-500"> * </span> Chasis </p>
                  <input [(ngModel)]="chasis" class="input-text-general mt-1" placeholder="Nro de chasis" type="text">
              </div>
          </div>
          <div class="md:flex md:items-center mt-4">
            <div class="md:w-1/2">
                <p class="font-semibold"> <span class="text-red-500"> * </span> Año </p>
                <input [(ngModel)]="ano" class="input-text-general mt-1" placeholder="Ej. 2015" type="number">
            </div>
            <div class="md:w-1/2 md:ml-4 mt-4 md:mt-0"></div>
          </div>
          <div *ngIf="vehiculoSeleccionado && estadoFormulario === 'editar'" class="xl:flex items-center mt-4">
            <div class="xl:w-1/2">
                <p class="font-semibold text-sm"> Fecha de alta </p>
                <div class="border text-sm mt-2 border-gray-300 rounded p-2 bg-gray-100">
                    {{ vehiculoSeleccionado.createdAt | fecha }}
                </div>
            </div>
            <div class="xl:ml-4 xl:w-1/2 mt-4 xl:mt-0">
                <p class="font-semibold text-sm"> Usuario creador </p>
                <div class="border text-sm capitalize mt-2 border-gray-300 rounded p-2 bg-gray-100">
                    {{ vehiculoSeleccionado.creatorUser?.apellido.toLowerCase() }} {{ vehiculoSeleccionado.creatorUser?.nombre.toLowerCase() }}
                </div>
            </div>
        </div> 
        <div *ngIf="vehiculoSeleccionado && estadoFormulario === 'editar'" class="xl:flex items-center mt-4">
            <div class="xl:w-1/2">
                <p class="font-semibold text-sm"> Ultima actualización </p>
                <div class="border text-sm mt-2 border-gray-300 rounded p-2 bg-gray-100">
                    {{ vehiculoSeleccionado.updatedAt | fecha }}
                </div>
            </div>
            <div class="xl:ml-4 xl:w-1/2 mt-4 xl:mt-0">
                <p class="font-semibold text-sm"> Usuario ultima actualización </p>
                <div class="border text-sm capitalize mt-2 border-gray-300 rounded p-2 bg-gray-100">
                    {{ vehiculoSeleccionado.updatorUser?.apellido.toLowerCase() }} {{ vehiculoSeleccionado.updatorUser?.nombre.toLowerCase() }}
                </div>
            </div>
        </div>   

        <div class="flex items-center mt-4">
            <button (click)="showModalVehiculo = false" class="btn-cancel"> Cancelar </button>
            <button *ngIf="estadoFormulario === 'crear'" (click)="abrirTitulares()" class="btn-confirm ml-2"> Continuar </button>
            <button *ngIf="estadoFormulario === 'editar'" (click)="actualizarVehiculo()" class="btn-confirm ml-2"> Actualizar </button>
        </div>
      </div>
  </div>
</app-modal>

<!-- Listado de vehiculo -->
<div class="md:max-w-7xl mx-auto">
    <app-tarjeta-lista>
      <div class="container mx-auto">
          <div>
              <div class="flex items-center justify-between bg-primary-800 px-4 py-3 rounded-t">
                  <div class="ml-2 text-white">
                      <h2 class="text-2xl leading-tight">
                          Listado de vehículos
                      </h2>
                      <p> Total de vehículos: {{ totalItems }} </p>
                  </div>
                  <div>
                    <button title="Nuevo vehiculo" (click)="abrirModal('crear')" class="p-2 border mr-3 focus:outline-none hover:text-secondaryColor border-gray-300 bg-white rounded shadow">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                        </svg>
                    </button>
                  </div>
              </div>
              <div class="md:flex md:items-center md:justify-between px-4 py-2">
                  <div class="my-2 flex sm:flex-row flex-col">
                      <div class="flex flex-row mb-1 sm:mb-0">
                      </div>
                      <div class="block relative">
                          <span class="h-full absolute inset-y-0 left-0 flex items-center pl-2">
                              <svg viewBox="0 0 24 24" class="h-4 w-4 fill-current text-gray-500 cursor-pointer hover:text-secondary-500">
                                  <path
                                      d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z">
                                  </path>
                              </svg>
                          </span>
                          <input placeholder="Buscar" [(ngModel)]="filtro.parametro" (change)="cambiarPagina(1)" class="appearance-none rounded-r rounded-l border border-gray-400 border-b block pl-8 pr-6 py-2 w-full bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none"
                          />
                      </div>
                      <select (change)="cambiarPagina(1)" class="bg-white text-sm focus:outline-none w-max px-2 py-2 md:py-0 md:ml-2 mt-2 md:mt-0 border text-gray-600 border-gray-400 rounded" [(ngModel)]="cantidadItems">
                          <option value="10"> 10 elementos </option>
                          <option value="20"> 20 elementos </option>
                          <option value="50"> 50 elementos </option>
                          <option value="100"> 100 elementos </option>
                      </select>
                  </div>
              </div>
              <div class="px-4 py-2 overflow-x-auto">
                  <div class="inline-block max-h-screen overflow-y-auto min-w-full overflow-hidden pb-5">
                      <table class="min-w-full leading-normal">
                          <thead>
                                <tr class="border">
                                    <th class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                        <div class="flex items-center focus:outline-none">
                                            <span> Icono </span>
                                        </div>
                                    </th>                                   
                                  <th class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                      <div (click)="ordenarPorColumna('patente')" class="cursor-pointer flex items-center focus:outline-none">
                                          <span> Patente </span>
                                          <span class="ml-2 text-gray-600">    
                                              <svg *ngIf="ordenar.columna == 'patente' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                              <svg *ngIf="ordenar.columna == 'patente' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                              <svg *ngIf="ordenar.columna != 'patente'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                          </span>
                                      </div>
                                  </th>
                                  <th class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                      <div (click)="ordenarPorColumna('marca')" class="cursor-pointer flex items-center focus:outline-none">
                                          <span> Marca </span>
                                          <span class="ml-2 text-gray-600">    
                                              <svg *ngIf="ordenar.columna == 'marca' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                              <svg *ngIf="ordenar.columna == 'marca' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                              <svg *ngIf="ordenar.columna != 'marca'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                          </span>
                                      </div>
                                  </th>
                                  <th class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                      <div (click)="ordenarPorColumna('modelo')" class="cursor-pointer flex items-center focus:outline-none">
                                          <span> Modelo </span>
                                          <span class="ml-2 text-gray-600">    
                                              <svg *ngIf="ordenar.columna == 'modelo' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                              <svg *ngIf="ordenar.columna == 'modelo' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                              <svg *ngIf="ordenar.columna != 'modelo'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                          </span>
                                      </div>
                                  </th>
                                  <th class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                      <div (click)="ordenarPorColumna('color')" class="cursor-pointer flex items-center focus:outline-none">
                                          <span> Color </span>
                                          <span class="ml-2 text-gray-600">    
                                              <svg *ngIf="ordenar.columna == 'color' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                              <svg *ngIf="ordenar.columna == 'color' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                              <svg *ngIf="ordenar.columna != 'color'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                          </span>
                                      </div>
                                  </th>
                                  <th class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                    <div (click)="ordenarPorColumna('ano')" class="cursor-pointer flex items-center focus:outline-none">
                                        <span> Año </span>
                                        <span class="ml-2 text-gray-600">    
                                            <svg *ngIf="ordenar.columna == 'ano' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                            <svg *ngIf="ordenar.columna == 'ano' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                            <svg *ngIf="ordenar.columna != 'ano'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                        </span>
                                    </div>
                                  </th>
                                  <th class="px-5 border-b-2 border-gray-200 bg-gray-100 text-sm font-semibold text-gray-900 tracking-wider">
                                      <div (click)="ordenarPorColumna('createdAt')" class="cursor-pointer w-max flex items-center justify-center focus:outline-none">
                                          <span>
                                              Fecha de creación                                                
                                          </span>
                                          <span class="ml-2">
                                              <svg *ngIf="ordenar.columna == 'createdAt' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                              <svg *ngIf="ordenar.columna == 'createdAt' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                              <svg *ngIf="ordenar.columna != 'createdAt'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                          </span>
                                      </div>
                                  </th>
                                  <th class="px-5 border-b-2 border-gray-200 bg-gray-100 text-center text-sm font-semibold text-gray-900 tracking-wider">
                                      Acción
                                  </th>
                              </tr>
                          </thead>
                          <tbody *ngIf="vehiculos">
                              <tr class="animate__animated animate__fadeIn" *ngFor="let vehiculo of vehiculos | paginate: { itemsPerPage: cantidadItems, currentPage: paginaActual, totalItems: totalItems }">
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                        <img class="w-10" src="assets/img/vehiculo.svg" alt="vehiculo.svg">
                                    </td>
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                      <p class="text-gray-900 w-max whitespace-no-wrap">
                                          {{ vehiculo.patente }}
                                      </p>
                                    </td>
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                        <p class="text-gray-900 w-max whitespace-no-wrap">
                                            {{ vehiculo.marca.descripcion }}
                                        </p>
                                    </td>
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                        <p class="text-gray-900 w-max whitespace-no-wrap">
                                            {{ vehiculo.modelo.descripcion }}
                                        </p>
                                    </td>
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                        <p class="text-gray-900 w-max whitespace-no-wrap">
                                            {{ vehiculo.color.descripcion }}
                                        </p>
                                    </td>
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                        <p class="text-gray-900 w-max whitespace-no-wrap">
                                            {{ vehiculo.ano }}
                                        </p>
                                    </td>
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            {{ vehiculo.createdAt | fecha }}
                                        </p>
                                    </td>
                                    <!-- <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                        <app-pastilla-estado [activo]=vehiculo.activo (click)="actualizarEstado(vehiculo)"></app-pastilla-estado>
                                    </td> -->
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs text-center">
                                        <span class="flex items-center justify-center text-gray-900 whitespace-no-wrap">
                                            <app-boton-tabla [routerLink]="['/dashboard/vehiculos/titulares', vehiculo.id]" title="Titulares">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z" />
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z" />
                                                    </svg>
                                            </app-boton-tabla>
                                            <app-boton-tabla class="ml-2" [routerLink]="['/dashboard/vehiculos/seguros', vehiculo.id]" title="Seguro de vehículo">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
                                                    </svg>
                                            </app-boton-tabla>
                                            <app-boton-tabla class="ml-2" (click)="abrirModal('editar', vehiculo)" title="Editar vehiculo">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                                </svg>
                                            </app-boton-tabla>
                                        </span>
                                    </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <div
          class="px-5 py-5 mt-4 text-sm bg-white border-t flex shadow flex-col xs:flex-row items-center xs:justify-between">
          <pagination-controls nextLabel="Siguiente" previousLabel="Anterior"
              (pageChange)="cambiarPagina($event)"></pagination-controls>
        </div>
      </div>
    </app-tarjeta-lista>
</div>

